AIQA_AGENT_NAME=VM45-worker
AIQA_AGENT_IP=10.252.41.45
AIQA_CONTROL_PLANE_URL=http://10.252.41.177:8080
AIQA_AGENT_TOKEN=<paste-token-from-VM177-AstraHeal-GUI>
AIQA_AGENT_ID=
AIQA_FRAMEWORK_PATH=\10.252.41.177\AIQA_Frameworks\client-playwright-framework
AIQA_WORKSPACE_ROOT=\10.252.41.177\AIQA_Frameworks\client-playwright-framework
AIQA_WORKER_MODE=central_shared_framework
AIQA_AGENT_ROLE=browser_execution
AIQA_BROWSER_PROJECT=chromium
AIQA_MAX_PARALLEL_TESTS=1
AIQA_POLL_INTERVAL_SECONDS=5
